<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Page</title>
</head>
<body>
    <center>
    <h1>Edit-Data</h1>
    <form action="/update"  method="post">
        <input type="hidden" name="id" value="<%= user.id %>">
        <input type="text" placeholder="Enter your name" name="name" value="<%= user.name %>">
        <input type="text" placeholder="Enter your email" name="email" value="<%= user.email %>">
       
        <label>man</label>
        <input type="radio" name="gender" value="man" <%= user.gender === 'man' ? 'checked' : '' %>>
        <label>woman</label>
        <input type="radio" name="gender" value="woman" <%= user.gender === 'woman' ? 'checked' : '' %>>
        <label>others</label>
        <input type="radio" name="gender" value="others" <%= user.gender === 'others' ? 'checked' : '' %>>
        <br>
        <label>travel-blogs</label>
        <input type="checkbox" name="prefer" value="travel-blogs" <%= user.prefer.includes('travel-blogs') ? 'checked' : '' %>>
        <label>personal-blogs</label>
        <input type="checkbox" name="prefer" value="personal-blogs" <%= user.prefer.includes('personal-blogs') ? 'checked' : '' %>>
        <label>education-blog</label>
        <input type="checkbox" name="prefer" value="education-blog" <%= user.prefer.includes('education-blog') ? 'checked' : '' %>>
      
        <button type="submit">UPDATE</button>
    </form>
    </center>
</body>
</html>